package ${package}.mapper;

import ${package}.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import com.honeybee.grace.tk.mybatis.core.mapper.CommonMapper;


/**
 * ${tableComment} 数据层
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends CommonMapper<${className}> {

}